<html>

<head>
    <title>
        Hack Me
    
    </title>
    
    <body>
    <center><h1 class="main">Hack Me - Challenge by Tech Raj</h1></center>
        
        <h1>Rules:</h1>
        <ul>
            <li>No Brute forcing or DDOS attacks allowed. If found, you will be disqualified</li>

            <li>Challenge duration is 2 weeks from the time the challenge went live.</li>

            <li>Challenge will end on 18th February</li>
        
            <li>If someone solves this challenge, it will go offline, and the webpage will display the name of the person who hacked it.</li>
        
        </ul>
        
        <h1>How to solve:</h1>
        <ul>
            <li>This webapp is made with python django web framework.</li>

            <li>The goal is to capture a <b>secret key </b>which is stored on the server.</li>

            <li>The webapp has two functionalities : register and login. First, the user can register for an account, and then he/she can login to their account.</li>
        
            <li>If you captured the flag (secret key), submit it here.</li>
        
        </ul>
        
        <br>

        <center>
            <form action="/app">
            <input type="submit" value="Open WebApp"></center>
        </form>
    
    </body>
    
    
    </head>

</html>