{% load static %}
<html>

<head>

<title>Solved By</title>

<link rel="stylesheet" href="{% static 'css/table.css' %}">

</head>
<body>
	
	<center>
		<h2 style="color:green">The challenge is solved by these people so far : </h2>
		
		<table>
			<tr>
				<th>Name </th>
				<th>Solved on </th>
			</tr>
			{% for user in users %}
			<tr>
				<td><a href="{{user.profile_link}}">{{ user.name }}</a></td>
				<td>{{ user.solved_on }}</td>
			</tr>

			{% endfor %}
		</table>

		<p style="color:red">{{msg}}</p>

		<br>
		<h2><a href="/">Home</a></h2>

	</center>

</body>

</html>
